#![enable(implicit_some)]
Container(
    transform: (
        id: "continue_enterprise_card",
        anchor: Middle,
        stretch: XY( x_margin: 0.0, y_margin: 0.0, keep_aspect_ratio: true),

        z: 2.0,
    ),
    background: NineSlice(
        x_start: 416,
        y_start: 464,
        width: 48,
        height: 48,
        left_dist: 5,
        top_dist: 5,
        right_dist: 5,
        bottom_dist: 5,
        tex: File("Sprites.png", ("IMAGE", ())),
        texture_dimensions: (512, 512),
    ),
    children: [
        Label(
            transform: (
                id: "continue_enterprise_label",
                anchor: TopMiddle,
                height: 24.,
                stretch: X( x_margin: 0. ),
            ),
            text: (
                text: "Continue Your Previous Enterprise!",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 24.,
                color: (0.92, 1.0, 0.0, 1.0),
                align: Middle,
            )
        )
    ]
)