#![enable(implicit_some)]
Container(
    transform: (
        id: "hud",
        anchor: Middle,
        stretch: XY( x_margin: 0, y_margin: 0, keep_aspect_ratio: false ),

        z: 1.0,
    ),
    children: [
        Container(
            transform: (
                id: "popup_warnings",
                x: 0,
                y: 54,
                width: 224.0,
                height: 44.0,
                anchor: BottomMiddle,
            ),
            children: [
                Image(
                    transform: (
                        id: "insufficient_funds",
                        anchor: Middle,
                        x: 0,
                        y: 0,
                        width: 224,
                        height: 44,
                    ),
                    image: SolidColor(0.0, 0.0, 0.0, 0.0),
                ),
            ]
        ),
        Button(
            transform: (
                id: "show_reference",
                anchor: MiddleRight,
                pivot: MiddleRight,
                x: 0,
                y: 0,
                z: 3,
                width: 16,
                height: 96,
                hidden: false,
            ),
            button: (
                text: "",
                font_size: 12.,
                normal_text_color: (0.0, 0.0, 0.0, 0.0),
                normal_image: PartialTexture(
                    tex: File("Sprites.png", ("IMAGE", ())),
                    left: 0.796875,
                    top: 0.90625,
                    bottom: 1.0,
                    right: 0.8125,
                ),
            ),
        ),
        Container(
            transform: (
                id: "reference_area",
                x: -0.16666,
                y: 0.,
                width: 0.33333,
                height: .8,
                percent: true,
                anchor: MiddleRight,
                hidden: true,
            ),
            background: NineSlice(
                x_start: 464,
                y_start: 464,
                width: 48,
                height: 48,
                left_dist: 5,
                top_dist: 5,
                right_dist: 5,
                bottom_dist: 5,
                tex: File("Sprites.png", ("IMAGE", ())),
                texture_dimensions: (512, 512),
            ),
            children: [
                Label(
                    transform: (
                        id: "level_name",
                        anchor: TopMiddle,
                        y: -24.,
                        width: 1.0,
                        height: 24.,
                        stretch: X( x_margin: 0. ),
                    ),
                    text: (
                        text: "Test",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 24.,
                        color: (0.92, 1.0, 0.0, 1.0),
                        align: Middle,
                    )
                ),
                Label(
                    transform: (
                        id: "level_description",
                        anchor: TopMiddle,
                        y: -48.,
                        width: 1.0,
                        height: 18.,
                        stretch: X( x_margin: 0. ),
                    ),
                    text: (
                        text: "This is a test, this is only a test.",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 18.,
                        color: (0.92, 1.0, 0.0, 1.0),
                        align: Middle,
                    )
                ),
                Container(
                    transform: (
                        id: "price_references",
                        anchor: Middle,
                        x: 0.,
                        y: -36.,
                        width: 1.,
                        height: 1.,
                        stretch: XY( x_margin: 0., y_margin: 48., keep_aspect_ratio: false ),
                    ),
                    background: NineSlice(
                        x_start: 416,
                        y_start: 464,
                        width: 48,
                        height: 48,
                        left_dist: 5,
                        top_dist: 5,
                        right_dist: 5,
                        bottom_dist: 5,
                        tex: File("Sprites.png", ("IMAGE", ())),
                        texture_dimensions: (512, 512),
                    ),
                    children: [
                        Image(
                            transform: (
                                id: "price_reference_0_asteroid",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                x: 10.,
                                y: -10.,
                                width: 34.,
                                height: 34.,
                            ),
                            image: SolidColor(1.0, 0.5, 0.5, 1.0),
                        ),
                        Image(
                            transform: (
                                id: "price_reference_0_price",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                x: 54.,
                                y: -10.,
                                width: 33.,
                                height: 33.,
                            ),
                            image: PartialTexture(
                                tex: File("Sprites.png", ("IMAGE", ())),
                                left: 0.03125,
                                top: 0.09375,
                                bottom: 0.115234375,
                                right: 0.0625,
                            ),
                        ),
                        Image(
                            transform: (
                                id: "price_reference_1_asteroid",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                x: 10.,
                                y: -54.,
                                width: 34.,
                                height: 34.,
                            ),
                            image: SolidColor(1.0, 0.5, 0.5, 1.0),
                        ),
                        Image(
                            transform: (
                                id: "price_reference_1_price",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                x: 54.,
                                y: -54.,
                                width: 33.,
                                height: 33.,
                            ),
                            image: PartialTexture(
                                tex: File("Sprites.png", ("IMAGE", ())),
                                left: 0.03125,
                                top: 0.09375,
                                bottom: 0.115234375,
                                right: 0.0625,
                            ),
                        ),
                        Image(
                            transform: (
                                id: "price_reference_2_asteroid",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                x: 10.,
                                y: -98.,
                                width: 34.,
                                height: 34.,
                            ),
                            image: SolidColor(1.0, 0.5, 0.5, 1.0),
                        ),
                        Image(
                            transform: (
                                id: "price_reference_2_price",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                x: 54.,
                                y: -98.,
                                width: 33.,
                                height: 33.,
                            ),
                            image: PartialTexture(
                                tex: File("Sprites.png", ("IMAGE", ())),
                                left: 0.03125,
                                top: 0.09375,
                                bottom: 0.115234375,
                                right: 0.0625,
                            ),
                        ),
                        Image(
                            transform: (
                                id: "price_reference_3_asteroid",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                x: 10.,
                                y: -142.,
                                width: 34.,
                                height: 34.,
                            ),
                            image: SolidColor(1.0, 0.5, 0.5, 1.0),
                        ),
                        Image(
                            transform: (
                                id: "price_reference_3_price",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                x: 54.,
                                y: -142.,
                                width: 33.,
                                height: 33.,
                            ),
                            image: PartialTexture(
                                tex: File("Sprites.png", ("IMAGE", ())),
                                left: 0.03125,
                                top: 0.09375,
                                bottom: 0.115234375,
                                right: 0.0625,
                            ),
                        ),
                        Image(
                            transform: (
                                id: "price_reference_4_asteroid",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                x: 10.,
                                y: -186.,
                                width: 34.,
                                height: 34.,
                            ),
                            image: SolidColor(1.0, 0.5, 0.5, 1.0),
                        ),
                        Image(
                            transform: (
                                id: "price_reference_4_price",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                x: 54.,
                                y: -186.,
                                width: 33.,
                                height: 33.,
                            ),
                            image: PartialTexture(
                                tex: File("Sprites.png", ("IMAGE", ())),
                                left: 0.03125,
                                top: 0.09375,
                                bottom: 0.115234375,
                                right: 0.0625,
                            ),
                        ),
                        Image(
                            transform: (
                                id: "price_reference_5_asteroid",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                x: 10.,
                                y: -230.,
                                width: 34.,
                                height: 34.,
                            ),
                            image: SolidColor(1.0, 0.5, 0.5, 1.0),
                        ),
                        Image(
                            transform: (
                                id: "price_reference_5_price",
                                anchor: TopLeft,
                                pivot: TopLeft,
                                x: 54.,
                                y: -230.,
                                width: 33.,
                                height: 33.,
                            ),
                            image: PartialTexture(
                                tex: File("Sprites.png", ("IMAGE", ())),
                                left: 0.03125,
                                top: 0.09375,
                                bottom: 0.115234375,
                                right: 0.0625,
                            ),
                        ),
                    ]
                ),
                Button(
                    transform: (
                        id: "hide_reference",
                        anchor: MiddleLeft,
                        pivot: MiddleRight,
                        x: 0,
                        y: 0,
                        z: 3,
                        width: 16,
                        height: 96,
                    ),
                    button: (
                        text: "",
                        font_size: 12.,
                        normal_text_color: (1.0, 1.0, 1.0, 1.0),
                        normal_image: PartialTexture(
                            tex: File("Sprites.png", ("IMAGE", ())),
                            left: 0.796875,
                            top: 0.90625,
                            bottom: 1.0,
                            right: 0.8125,
                        ),
                    ),
                ),
            ],
        ),
        Container(
            transform: (
                id: "money",
                x: 106,
                y: -21,
                width: 192.0,
                height: 22.0,
                anchor: TopLeft,
            ),
            background: SolidColor(0.0, 0.2, 0.4, 1.0),
            children: [
                Image(
                    transform: (
                        id: "money_symbol",
                        anchor: MiddleLeft,
                        x: 8,
                        y: 0,
                        width: 16,
                        height: 22,
                    ),
                    image: SolidColor(0.0, 0.0, 0.0, 0.0),
                ),
                Image(
                    transform: (
                        id: "money_0",
                        anchor: MiddleRight,
                        x: -8,
                        y: 0,
                        width: 16,
                        height: 22,
                    ),
                    image: SolidColor(0.0, 0.0, 0.0, 0.0),
                ),
                Image(
                    transform: (
                        id: "money_1",
                        anchor: MiddleRight,
                        x: -24,
                        y: 0,
                        width: 16,
                        height: 22,
                    ),
                    image: SolidColor(0.0, 0.0, 0.0, 0.0),
                ),
                Image(
                    transform: (
                        id: "money_2",
                        anchor: MiddleRight,
                        x: -40,
                        y: 0,
                        width: 16,
                        height: 22,
                    ),
                    image: SolidColor(0.0, 0.0, 0.0, 0.0),
                ),
                Image(
                    transform: (
                        id: "money_3",
                        anchor: MiddleRight,
                        x: -56,
                        y: 0,
                        width: 16,
                        height: 22,
                    ),
                    image: SolidColor(0.0, 0.0, 0.0, 0.0),
                ),
                Image(
                    transform: (
                        id: "money_4",
                        anchor: MiddleRight,
                        x: -72,
                        y: 0,
                        width: 16,
                        height: 22,
                    ),
                    image: SolidColor(0.0, 0.0, 0.0, 0.0),
                ),
                Image(
                    transform: (
                        id: "money_5",
                        anchor: MiddleRight,
                        x: -88,
                        y: 0,
                        width: 16,
                        height: 22,
                    ),
                    image: SolidColor(0.0, 0.0, 0.0, 0.0),
                ),
                Image(
                    transform: (
                        id: "money_6",
                        anchor: MiddleRight,
                        x: -104,
                        y: 0,
                        width: 16,
                        height: 22,
                    ),
                    image: SolidColor(0.0, 0.0, 0.0, 0.0),
                ),
                Image(
                    transform: (
                        id: "money_7",
                        anchor: MiddleRight,
                        x: -120,
                        y: 0,
                        width: 16,
                        height: 22,
                    ),
                    image: SolidColor(0.0, 0.0, 0.0, 0.0),
                ),
                Image(
                    transform: (
                        id: "money_8",
                        anchor: MiddleRight,
                        x: -136,
                        y: 0,
                        width: 16,
                        height: 22,
                    ),
                    image: SolidColor(0.0, 0.0, 0.0, 0.0),
                ),
                Image(
                    transform: (
                        id: "money_9",
                        anchor: MiddleRight,
                        x: -152,
                        y: 0,
                        width: 16,
                        height: 22,
                    ),
                    image: SolidColor(0.0, 0.0, 0.0, 0.0),
                ),
                Image(
                    transform: (
                        id: "money_10",
                        anchor: MiddleRight,
                        x: -168,
                        y: 0,
                        width: 16,
                        height: 22,
                    ),
                    image: SolidColor(0.0, 0.0, 0.0, 0.0),
                ),
                Image(
                    transform: (
                        id: "sufficient_funds",
                        anchor: MiddleRight,
                        x: 12,
                        y: 0,
                        width: 24,
                        height: 33,
                    ),
                    image: SolidColor(0.0, 0.0, 0.0, 0.0),
                ),
            ]
        )
    ]
)
