(
  axes: {
    "updown": Emulated(
      pos: Key(W),
      neg: Key(S)
      ),
      "leftright": Emulated(
        pos: Key(D),
        neg: Key(A),
        ),
      "attenuation": Emulated(
        pos: Key(Key1),
        neg: Key(Key2),
        ),
      "strength": Emulated(
        pos: Key(Key3),
        neg: Key(Key4),
        ),
  },
  actions: {
    "deliver": [[Key(Q)]],
  }
)