List((
  texture_width: 512,
  texture_height: 512,
  sprites: [
  /* 0: Spachship */
    (
      x: 0,
      y: 0,
      height: 24,
      width: 24,
    ),
  /* 1: Big Asteroid */
    (
      x: 24,
      y: 0,
      height: 17,
      width: 17,
    ),
  /* 2: Medium Asteroid */
    (
      x: 24,
      y: 17,
      height: 13,
      width: 13,
    ),
  /* 3: Small Asteroid */
    (
      x: 24,
      y: 30,
      height: 9,
      width: 9,
    ),
  /* 4: Bitty Asteroid */
    (
      x: 24,
      y: 39,
      height: 5,
      width: 5,
    ),
  /* 5: Tractor */
    (
      x: 48,
      y: 0,
      height: 24,
      width: 24,
    ),
  /* 6-9: Delivery Zone */
    (
      x: 72,
      y: 0,
      height: 12,
      width: 12,
    ),
    (
      x: 84,
      y: 0,
      height: 12,
      width: 12,
    ),
    (
      x: 72,
      y: 12,
      height: 12,
      width: 12,
    ),
    (
      x: 84,
      y: 12,
      height: 12,
      width: 12,
    ),
  /* 10: Bomb Asteroid */
    (
      x: 33,
      y: 30,
      height: 9,
      width: 9,
    ),
  /* 11: Arrow */
    (
      x: 96,
      y: 0,
      height: 11,
      width: 11,
    ),
  /* 12-14: Tractor Particles */
    (
      x: 44,
      y: 0,
      height: 3,
      width: 4,
    ),
    (
      x: 44,
      y: 3,
      height: 3,
      width: 4,
    ),
    (
      x: 44,
      y: 6,
      height: 3,
      width: 3,
    ),
  /* 15-26: Digits and Money */
    (
      x: 48,
      y: 24,
      height: 11,
      width: 8,
    ),
    (
      x: 56,
      y: 24,
      height: 11,
      width: 8,
    ),
    (
      x: 64,
      y: 24,
      height: 11,
      width: 8,
    ),
    (
      x: 72,
      y: 24,
      height: 11,
      width: 8,
    ),
    (
      x: 80,
      y: 24,
      height: 11,
      width: 8,
    ),
    (
      x: 88,
      y: 24,
      height: 11,
      width: 8,
    ),
    (
      x: 96,
      y: 24,
      height: 11,
      width: 8,
    ),
    (
      x: 104,
      y: 24,
      height: 11,
      width: 8,
    ),
    (
      x: 112,
      y: 24,
      height: 11,
      width: 8,
    ),
    (
      x: 120,
      y: 24,
      height: 11,
      width: 8,
    ),
    (
      x: 128,
      y: 24,
      height: 11,
      width: 8,
    ),
    (
      x: 136,
      y: 24,
      height: 11,
      width: 8,
    ),
  /* 27-29: Hydrogen, Oxygen, Water */
    (
      x: 0,
      y: 24,
      height: 9,
      width: 9,
    ),
    (
      x: 9,
      y: 24,
      height: 9,
      width: 9,
    ),
    (
      x: 0,
      y: 33,
      height: 9,
      width: 9,
    ),
  /* 30: Insufficient Funds */
    (
      x: 48,
      y: 35,
      height: 22,
      width: 112,
    ),
  /* 31/32: Sufficient Funds + Arrow */
    (
      x: 144,
      y: 24,
      height: 11,
      width: 8,
    ),
    (
      x: 96,
      y: 10,
      height: 11,
      width: 11,
    ),
  /* 33-36: Delivery Particles */
    (
      x: 44,
      y: 9,
      height: 4,
      width: 4,
    ),
    (
      x: 44,
      y: 13,
      height: 4,
      width: 4,
    ),
    (
      x: 44,
      y: 17,
      height: 4,
      width: 4,
    ),
    (
      x: 44,
      y: 21,
      height: 4,
      width: 4,
    ),
  /* 37/38: Bigger Water */
    (
      x: 0,
      y: 42,
      height: 13,
      width: 13,
    ),
    (
      x: 0,
      y: 55,
      height: 17,
      width: 17,
    ),
  /* 39-46: Billboards */
    (
      x: 0,
      y: 42,
      height: 13,
      width: 13,
    ),
    (
      x: 120,
      y: 0,
      height: 8,
      width: 26,
    ),
    (
      x: 0,
      y: 42,
      height: 13,
      width: 13,
    ),
    (
      x: 120,
      y: 0,
      height: 8,
      width: 26,
    ),
    (
      x: 0,
      y: 42,
      height: 13,
      width: 13,
    ),
    (
      x: 120,
      y: 0,
      height: 8,
      width: 26,
    ),
    (
      x: 0,
      y: 42,
      height: 13,
      width: 13,
    ),
    (
      x: 120,
      y: 0,
      height: 8,
      width: 26,
    ),
  /* 47-52: Particles */
    (
      x: 44,
      y: 25,
      height: 4,
      width: 4,
    ),
    (
      x: 44,
      y: 13,
      height: 4,
      width: 4,
    ),
    (
      x: 44,
      y: 17,
      height: 4,
      width: 4,
    ),
    (
      x: 44,
      y: 21,
      height: 4,
      width: 4,
    ),
    (
      x: 44,
      y: 17,
      height: 4,
      width: 4,
    ),
    (
      x: 44,
      y: 21,
      height: 4,
      width: 4,
    ),
  ],
))
