#![enable(implicit_some)]
Level(
    boundaries: (500.0, 4000.0),
    player_state: (0.0, -2000.0),
    deliveries: [(0.0, 2000.0)],
    jump_cost: 100,
    asteroids: [Field(
        normal: 80,
        bombs: 0,
        gases: 20,
    )],
    modified_prices: {},
    billboards: [],
    card: (
        title: "Tutorial",
        sprite_number: 0,
    ),
    reference: (
        name: "Tutorial",
        description: "Earn money by delivering asteroids.",
        shown_prices: [Big, Medium, Bomb, Water, Hydrogen],
    ),
)